@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.2;
    color: #888;
}
.container{
    width: 96%;
    max-width: 1440px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*HEADER*/
header{
    width: 100%;
    height: 3rem;
    height: 3rem;
    overflow: hidden;
}
.navbar-area{
    width: 100%;
    height: 3rem;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.site-nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#brand{
    width: 50%;
}
#brand img{
    width: 2rem;
    height: 2rem;
    display: block;
    transition: 0.70s;
}
#brand img:hover{
    transition: 0.70s;
    transform: rotate(180deg);
}
.navlist{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.navlist a{
    font-size: .7rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    transition: .5s ease-in-out;
}
.navlist a:hover{
    color: hotpink;
    transition: .5s ease-in-out;
    border-bottom: 1px hotpink dashed;
    border-top: 1px hotpink dashed;
    padding: .3rem 0;
}
/* SHOWCASE */

#hero {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: #000;
    position: relative;
}
#hero .container{
    width: 100%;
    height: 100%;
}
#hero .hero-img{
    height: 100%;
    background-image: url('hero.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .2;
}
#hero .hero-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero .name{
    color: #fff;
    font-size: 7vw;
    font-family: 'Raleway';
    font-weight: 300;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: default;
}
#hero .name-slide .slide{
    color: hotpink;
    font-family: 'Raleway';
    font-weight: 200;
    font-size: 4vw;
    padding-top: 10px;
    display: none;
    cursor: default;
}
#hero .fade{
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
} 
@keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
}

/*WEBDESIGN*/
#webdesign,
#webmockup,
#mylogos,
#graphics,
#skills{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 1rem 0 7rem 0;
    overflow: hidden;
}
#webdesign .container,
#webmockup .container,
#mylogos .container,
#graphics .container,
#skills .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3rem 0;
}
#webdesign .title-content,
#webmockup .title-content,
#skills .title-content{
    padding: 3rem;
}
#webdesign .title-content .title,
#webmockup .title-content .title,
#mylogos .title-content .title,
#graphics .title-content .title{
    font-size: 1.5rem;
    color: #111;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
}
#webdesign .underline,
#webmockup .underline,
#mylogos .underline,
#graphics .underline,
#skills .underline{
    width: 100px;
    background-color: hotpink;
    height: 3px;
    border: none;
    margin-bottom: 3rem;
    margin: 0 auto;
}
#webdesign .content-list,
#webmockup .content-list,
#mylogos .content-list,
#graphics .content-list{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#webdesign .list,
#webmockup .list{
    position: relative;
    width: 28%;
    margin: 10px;

}
#webdesign .list img,
#webmockup .list img{
    width: 100%;
    height: auto;
    display: block;
}
#webdesign .list .overlay,
#webmockup .list .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    transition: 1s;
    opacity: .9;
}
#webdesign .list:hover .overlay,
#webmockup .list:hover .overlay{
    height: 100%;
    transition: 1s;
}
#webdesign .overlay a,
#webmockup .overlay a{
    color: #000;
    font-size: 12px;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    padding: 10px 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 1s;
}
#webdesign .overlay a:hover,
#webmockup .overlay a:hover{
    background-color: #111;
    color: hotpink;
    transition: 1s ease-in-out;
}

/*QUOTE*/

#quote-1{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: #000;
}
#quote-1 .container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.big-text{
    font-family: 'Alex Brush';
    font-size: 5vw;
    color: #fff;
    text-transform: capitalize;
    line-height: .8;
    letter-spacing: 3px;
    text-align: center;
}
.quotemark-1{
    position: absolute;
    top: 2%;
    left: 2%;
    font-family: 'Alex Brush';
    font-size: 10rem;
    color: hotpink;
}


/* LOGOS */

#mylogos{
    margin: 3rem 0;
}
#mylogos .content-list,
#graphics .content-list{
    margin-top: 4rem;
}
#mylogos .list img{
    width: 200px;
    height: auto;
    padding: 30px;
    border-radius: 50%;
}
#mylogos .list{
    perspective: 1000px;
}
#mylogos .list-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
#mylogos .list:hover .list-inner {
    transform: rotateY(180deg);
}
#mylogos .flip-front, 
#mylogos .flipback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
#mylogos .flip-back {
    transform: rotateY(180deg);
}
.gray{
    filter: grayscale(100%);
}
/*GRAPHICS*/

#graphics .list img{
    width: 400px;
    height: auto;
    padding: 20px;
}
#graphics .list-graphics img{
    width: 255px;
    height: auto;
    padding: 20px;
}
#graphics img:hover,
#hero .name:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake{
    0% {transform: translate(1px 1px) rotate(0deg);}
    30% { transform: translate(3px, 2px) rotate(0deg);}
    50%{transform: translate(-1px 2px) rotate(-1deg);}
    70% { transform: translate(3px, 1px) rotate(-1deg);}
    100%{transform: translate(1px 1px) rotate(0deg);}
}
/*SKILLS*/
#skills{
    background-color: #000;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    margin:0;
} 
#skills .title-content .title{
    font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 1rem;
}
.skills-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill{
    margin: 0 2rem;
}
.skill-name{
    color: #fff;
    font-size: 1rem;
}
.circle-wrap {
    margin: 50px auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: hotpink;
  }
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(162deg);
  }
  
  .circle-wrap .circle .mask .fill-2 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #e04794;
  }
  .circle-wrap .circle .mask.full-2,
  .circle-wrap .circle .fill-2 {
    animation: cover ease-in-out 3s;
    transform: rotate(158deg);
  }

  .circle-wrap .circle .mask .fill-3 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #c02874;
  }
  .circle-wrap .circle .mask.full-3,
  .circle-wrap .circle .fill-3 {
    animation: filled ease-in-out 3s;
    transform: rotate(126deg);
  }
  .circle-wrap .circle .mask .fill-4 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #8b084a;
  }
  .circle-wrap .circle .mask.full-4,
  .circle-wrap .circle .fill-4 {
    animation: circle ease-in-out 3s;
    transform: rotate(108deg);
  }
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(162deg);
    }

  }
  @keyframes cover {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(158deg);
    }
  }
  @keyframes filled {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(126deg);
    }
  }
  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(108deg);
    }
  }
  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }

/*AD*/

#ad{
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
}
#ad .container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#ad .logo{
    padding: 1rem 0;
}
#ad .logo img{
    width: 100px;
    height: auto;

}
#ad .adjective{
    font-size: 1rem;
    color: hotpink;
    font-weight: 900;
    letter-spacing: 4px;
    padding: 1rem 0;
}

/* FOOTER*/

footer{
    width: 100%;
    height: 100%;
    background-color: #000;
    padding: 5rem 0 3rem 0;
    text-align: center;
}
footer .hire{
    color: #fff;
    font-size: 4rem;
}
footer .hire-detail{
    color: #fff;
    font-size: 2rem;
}
footer .contact-info{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
}
footer .email p,
.fb a,
.instagram a{
    color: #fff;
    transition: 1s ease-in-out;
}

footer .email p:hover,
.fb a:hover,
.instagram a:hover{
    color: hotpink;
    transition: 1s ease-in-out;
}
footer i{
    font-size: 5rem;
    color: hotpink;
    padding-bottom: 1rem;
}
footer i:hover{
    color: #fff;
    transition: 1s ease-in-out;
}

#cv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}
#cv .container{
    width: 96%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 1rem;
}
#cv img{
    width: 60%;
    height: auto;
    margin: 2rem auto;
}
#cv .download a{
    color: hotpink;
    font-size: 1.5rem;
    margin-top: 2rem;
    transition: 1s ease;
}
#cv .download a:hover{
    color: #fff;
    transition: 1s ease;
}

/* MOBILE */
@media screen and (max-width: 750px){
    #mylogos .list img{
        width: 180px;
        height: auto;
        padding: 10px;
        border-radius: 50%;
    }
    #skills .skill{
        margin: 10px;
    }
    #ad .adjective {
        padding: 0 10px;
    }
}
@media screen and (max-width: 668px){
    #hero{
        width: 100%;
        height: 400px;
    }
    #hero .hero-content{
        padding: 0;
    }
    #webdesign .overlay a,
    #webmockup .overlay a{
        font-size: 10px;
        padding: 10px 35px;
    }
    #mylogos .list img{
        width: 130px;
        height: auto;
        padding: 10px;
        border-radius: 50%;
    }
    #graphics .title-content{
        padding-bottom: 2rem;
    }
    #graphics .content-list{
        flex-direction: column;
        margin-top: 0;
    }
    #graphics .content-list .list-graphics img{
        width: 60%;
    }
    #skills .skills-list{
        flex-direction: column;
    }
    #skills .skill .circle-wrap{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 500px){
    #webdesign,
    #webmockup{
        padding: 0;
    }
    #webdesign,
    #webmockup,
    #mylogos,
    #graphics{
        margin: 0;
    }
    #webdesign .content-list,
    #webmockup .content-list,
    #mylogos .content-list,
    #graphics .content-list,
    #skills .skills-list{
        flex-direction: column;
    }
    #webdesign .list,
    #webmockup .list,
    #mylogos .list,
    #graphics .list{
        width: 100%;
    }
    #webdesign .list img,
    #webdesign .list .overlay,
    #webmockup .list img,
    #webmockup .list .overlay{
        width: 60%;
        height: auto;
        margin: 0 auto;
    }
    #graphics .content-list .list-graphics img,
    #graphics .content-list .list img{
        width: 100%;
    }
    footer .contact-info{
        flex-direction: column;
    }
    footer .contact-info a,
    footer .contact-info p{
        padding-bottom: 2rem;
    }
    footer .contact-info i{
        padding-bottom: 0;
    }
}